body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

section {
  margin: 0 120px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

header div {
  margin-left: auto;
  font-size: 20px;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
}

#main {
  margin: 0 120px;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#about {
  margin: 0 120px;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#main .main-text {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  grid-template-columns: 3fr 1fr;
  min-width: 12em;
  width: 17em;
}

#about .about-text {
  font-size: 40px;
  font-weight: 500;
  min-width: 12em;
  width: 17em;
}

#about .about-desc {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  min-width: 15em;
}

#main .main-desc {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  min-width: 15em;
}

h1 {
  font-weight: 800;
}

#main .sub-text {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.5;
}

span {
  border-bottom: 2px solid #3ff1aa;
}

footer {
  text-align: center;
  height: 4.5em;
  width: 200%;
}

.footer {
  font-size: 1.5em;
}
